<html>
<head>
<title>activity_main_activity_ddg.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.ln { color: rgb(0,0,0); font-weight: normal; font-style: normal; }
.s0 { color: rgb(0,0,0); font-style: italic; }
.s1 { color: rgb(0,0,255); font-weight: bold; }
.s2 { color: rgb(0,0,0); }
.s3 { color: rgb(0,128,0); font-weight: bold; }
.s4 { color: rgb(0,0,128); font-weight: bold; }
</style>
</head>
<BODY BGCOLOR="#ffffff">
<TABLE CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#C0C0C0" >
<TR><TD><CENTER>
<FONT FACE="Arial, Helvetica" COLOR="#000000">
activity_main_activity_ddg.xml</FONT>
</center></TD></TR></TABLE>
<pre>
<span class="s0">&lt;?</span><span class="s1">xml version=</span><span class="s3">&quot;1.0&quot; </span><span class="s1">encoding=</span><span class="s3">&quot;utf-8&quot;</span><span class="s0">?&gt;</span><span class="s2"> 
&lt;</span><span class="s4">RelativeLayout </span><span class="s1">xmlns:android=</span><span class="s3">&quot;http://schemas.android.com/apk/res/android&quot;</span><span class="s2"> 
    </span><span class="s1">xmlns:tools=</span><span class="s3">&quot;http://schemas.android.com/tools&quot;</span><span class="s2"> 
    </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
    </span><span class="s1">android:layout_height=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
    </span><span class="s1">tools:context=</span><span class="s3">&quot;com.example.android.myapplicationddgcardproject.MainActivityDDG&quot;</span><span class="s2">&gt; 
 
    &lt;</span><span class="s4">ImageView</span><span class="s2"> 
        </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_height=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
        </span><span class="s1">android:scaleType=</span><span class="s3">&quot;centerCrop&quot;</span><span class="s2"> 
        </span><span class="s1">android:src=</span><span class="s3">&quot;@drawable/bombayheights&quot; </span><span class="s2">/&gt; 
 
    &lt;</span><span class="s4">TextView</span><span class="s2"> 
        </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
        </span><span class="s1">android:textSize=</span><span class="s3">&quot;22sp&quot;</span><span class="s2"> 
        </span><span class="s1">android:padding=</span><span class="s3">&quot;10dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:fontFamily=</span><span class="s3">&quot;sans-serif&quot;</span><span class="s2"> 
        </span><span class="s1">android:textColor=</span><span class="s3">&quot;@android:color/holo_red_dark&quot;</span><span class="s2"> 
        </span><span class="s1">android:text=</span><span class="s3">&quot;The Bombay Heights is one of the latest arrivals in the Bed Stuy Brooklyn area. Bombay Heights is a fusion of East Indian cuisine. &quot;</span><span class="s2"> 
        </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/textView&quot; </span><span class="s2">/&gt; 
 
    &lt;</span><span class="s4">TextView</span><span class="s2"> 
        </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_height=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
        </span><span class="s1">android:textSize=</span><span class="s3">&quot;21sp&quot;</span><span class="s2"> 
        </span><span class="s1">android:padding=</span><span class="s3">&quot;10dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:fontFamily=</span><span class="s3">&quot;sans-serif&quot;</span><span class="s2"> 
        </span><span class="s1">android:textColor=</span><span class="s3">&quot;@android:color/holo_red_dark&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_below=</span><span class="s3">&quot;@+id/textView&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_alignParentStart=</span><span class="s3">&quot;true&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_marginTop=</span><span class="s3">&quot;260dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:text=</span><span class="s3">&quot;Address: 1047 Bedford Ave Brooklyn NY 11216. Phone: (718) 230-7790 Website: www.bombayheightsny.com&quot;</span><span class="s2">/&gt; 
 
&lt;/</span><span class="s4">RelativeLayout</span><span class="s2">&gt; 
</span></pre>
</body>
</html>